<h1 class="text-center">{{title}}</h1>
<div class="container">

    <form (ngSubmit)="submitSearch()">
        <div class="form-group col-xs-12">
            <input type="text" [(ngModel)]="searchString" name="searchString" class="form-control" id="search" placeholder="Búsqueda de super-héroe">
        </div>
    </form>

    <div class="row">
        <div *ngFor="let heroe of heroes" class="col-xs-12 col-sm-6 col-md-3">
            <a 
                [routerLink]="'/heroe/' + heroe.id" 
                class="hero-entry" 
                [style.background-image]="'url(' + heroe.thumbnail.path + '.' + heroe.thumbnail.extension + ')'"
                [style.border-color]="heroesService['group_colors'][heroe.teamColor]" 
            >
                <span>{{heroe.name}}</span>
            </a>
        </div>
    </div>
    
    <div class="paginator col-xs-12">
        <a class="paginator-prev" (click)="prevPage()" *ngIf="page > 0">Prev</a>
        Página {{page + 1}} de {{total}}
        <a class="paginator-next" (click)="nextPage()" *ngIf="page < total - 1">Next</a>
    </div>

</div>