label {
    padding-right: 10px;
}

label {
    color: white !important;
}

h3 {
    color: white;
}

.danger-text {
    color: red;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
}